---
import { LayoutBlogPost } from '../layouts'
---

<LayoutBlogPost title="About Me" description="Lorem ipsum dolor sit amet" pubDate={new Date('August 08 2021')} heroImage="/placeholder/blog-about.jpg">
  <section class="space-y-20">
    <article class="space-y-4">
      <h2 class="text-4xl text-secondary-300 leading-none">Lorem ipsum dolor sit amet.</h2>
      <div class="grid md:grid-cols-2 gap-8">
        <img src="https://picsum.photos/id/20/1024/600" alt="Image" class="h-full object-cover rounded-3xl" />
        <div class="space-y-4">
          <p class="text-sm lg:text-lg text-foreground">
            Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque
            sagittis. Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo viverra.
          </p>
          <p class="text-sm lg:text-lg text-foreground">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo
            integer malesuada nunc vel risus commodo viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam adipiscing.
            In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis egestas.
          </p>
        </div>
      </div>
    </article>
    <article class="space-y-4">
      <h2 class="text-4xl text-secondary-300 leading-none">Lorem ipsum dolor sit amet.</h2>
      <p class="text-sm lg:text-lg text-foreground">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo integer
        malesuada nunc vel risus commodo viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam adipiscing. In hac
        habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non
        diam phasellus vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque sagittis. Integer quis auctor elit sed
        vulputate mi. Dictumst quisque sagittis purus sit amet.Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis egestas. Eget magna
        fermentum iaculis eu non diam phasellus vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque sagittis. Integer
        quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis
        egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque
        sagittis. Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
      </p>
      <div class="py-8">
        <img class="w-full h-96 rounded-3xl object-cover" src="https://picsum.photos/id/120/1024/600" alt="Image" />
      </div>
      <p class="text-sm lg:text-lg text-foreground">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sequi quae sapiente cupiditate soluta! Nobis voluptatem veniam doloribus quia deleniti
        sint praesentium quis distinctio id aperiam, rem dolorum saepe consectetur impedit ut expedita? Officia ullam fugiat, repudiandae saepe hic nam adipisci
        dolores nulla odio temporibus a repellat ab obcaecati suscipit recusandae commodi ipsum asperiores possimus veritatis vitae neque quod aut. Nisi
        praesentium consequuntur rem nostrum eum temporibus odio tempore doloribus! Molestias laborum iusto corporis aspernatur dicta aut! Ipsum, iure. Nisi
        sunt fugiat quidem ut voluptatum nihil veritatis corporis exercitationem a! Quas eos doloremque quos rerum ab aperiam laborum cumque dolorum qui
        voluptatibus neque, vitae cum aliquam eveniet at soluta amet perferendis. Nemo nobis iste amet veniam provident suscipit, omnis quam facere! Repudiandae
        adipisci voluptate distinctio accusantium dolor delectus laborum voluptatem doloribus iure officia, quas deserunt, quam nam et nobis officiis ut
        aspernatur placeat, dolorem mollitia perferendis eum debitis voluptatibus! Distinctio assumenda, nam ad totam magnam eius rerum id ducimus repellendus,
        ipsam corrupti! Iure, quo. At hic itaque debitis, nam, ab, rem similique harum nihil officiis blanditiis deserunt voluptatum. Repudiandae in cum dicta
        atque ea, praesentium maiores magni omnis eius modi voluptas nisi maxime et at quae aliquam est, sint, alias exercitationem voluptatem vero molestias
        officia. Hic perspiciatis quibusdam ut ea dolorum temporibus vitae, distinctio reiciendis fugiat odio quo inventore dolorem accusamus obcaecati, quas
        nisi eaque corrupti facere exercitationem quam voluptatem cum voluptatum dignissimos aliquid? Quisquam illum impedit sequi illo a, odit quasi
        exercitationem quia at ducimus accusamus doloremque, nisi officiis laboriosam quibusdam tempore excepturi porro eveniet velit voluptatum ad, minima sed
        alias provident? Rem error voluptate sequi vero soluta temporibus velit quidem, repudiandae itaque quis. Sed, eum ducimus? Porro quod fugit illum
        consectetur quidem ducimus ipsam hic, soluta quaerat deserunt adipisci magnam minus eos sequi eligendi optio quisquam dolores rem culpa cupiditate!
        Dolore ex aliquid ipsa corrupti quae doloremque harum quam hic voluptatibus temporibus beatae nostrum ab, eveniet ut enim rerum? Odit expedita itaque,
        exercitationem temporibus soluta dolorem ex quaerat consectetur, aliquid veniam voluptate eum cupiditate veritatis perferendis dolorum!
      </p>
    </article>
    <article class="space-y-4">
      <h2 class="text-4xl text-secondary-300 leading-none">Lorem ipsum dolor sit amet.</h2>
      <div class="grid md:grid-cols-2 gap-8">
        <div class="space-y-4">
          <p class="text-sm lg:text-lg text-foreground">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo
            integer malesuada nunc vel risus commodo viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam adipiscing.
            In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis egestas. Eget magna fermentum
            iaculis eu non diam phasellus vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque sagittis. Integer quis
            auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo viverra.
          </p>
        </div>
        <img src="https://picsum.photos/id/1/768/400" alt="Image" class="h-full object-cover rounded-3xl" />
      </div>
    </article>
  </section>
</LayoutBlogPost>
