---
import { LayoutBlogPost } from '../layouts'
---

<LayoutBlogPost title="Sobre “nós”" description="Um pouco sobre a “equipe” do Esquerda.net.br"
                pubDate={ new Date(2024, 8, 1) } heroImage="/placeholder/blog-about.jpg">
  <section class="space-y-20">
    <article class="space-y-4">
      <h2 class="text-4xl text-secondary-300 leading-none">A equipe de um homem só</h2>
      <p class="text-sm lg:text-lg text-foreground">
        Neste momento, sou apenas eu,
        <a href="https://bsky.app/profile/esquerda.net.br" target="_blank"> Fábio Batista</a>.
      </p>
    </article>
  </section>
</LayoutBlogPost>
