---
import { IconGithub } from '../assets'
---

<a class="text-foreground-500 transition-colors hover:text-foreground" href="https://github.com/damenordev/astro-hito-blog" target="_blank">
  <span class="sr-only">Go to Astro's GitHub repo</span>
  <IconGithub />
</a>
