---
import { Icon } from 'astro-icon/components'
---

<a class="text-foreground-500 transition-colors hover:text-foreground"
   href="https://github.com/esquerda-net/website"
   target="_blank" title="Abrir página do Github do projeto">
  <Icon name="fa6-brands:github" class="text-4xl"/>
</a>
