---

---

<div
  class="prose lg:prose-xl prose-neutral max-w-full dark:prose-invert prose-h1:font-bold prose-h1:text-xlprose-a:text-secondary-600 prose-p:text-justify prose-img:rounded-xl prose-headings:underline"
>
  <slot />
</div>
