---
import { Icon } from 'astro-icon/components'
import LinkToGithub from '../LinkToGithub.astro'
---

<div class="relative flex justify-center gap-4">
  <a class="text-foreground-500 transition-colors hover:text-foreground"
     href="https://bsky.app/profile/esquerda.net.br" target="_blank" title="Siga o Esquerda.net.br no Bluesky">
    <Icon name="fa6-brands:bluesky" class="text-4xl"/>
  </a>
  <LinkToGithub/>
</div>
